<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de donaciones</title>
    <i-head th:replace="fragments/imports :: head" />
</head>

<body>
    <!-- Navbar -->
    <div class="row mb-3">
        <navbar th:replace="fragments/navbar :: navbar"></navbar>
    </div>
    <!-- Contenido -->
    <div class="mx-4 mt-4">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 col-lg-3 mb-5">
                <div th:replace="fragments/menus :: adoptador(2)" class="menu list-group shadow-3"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-12 col-lg-9">
                <div class="d-grid gap-4">
                    <div class="row">
                        <div class="col-lg-10">
                            <h2 style="color: #253E5C;">Mis donaciones</h2>
                        </div>
                        <div class="col-lg-2">
                            <a th:href="@{/donativo/donaciones/export}">Exportar</a>
                        </div>
                    </div>
                    <div class="mb-4 mt-3">
                        <div class="row  justify-content-center">
                            <table class="table align-middle mb-0 bg-white">
                                <caption hidden>Lista de donaciones</caption>
                                <!--tabla de donaciones-->
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Fecha de donación</th>
                                        <th scope="col">Numero de autorización</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Descarga</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="tmpDonacion,count: ${listaDonaciones}">
                                        <!-- # -->
                                        <td th:text="${count.count}"></td>
                                        <!-- Monto -->
                                        <td>$ [[${tmpDonacion.monto}]]</td>
                                        <!-- Fecha donacion -->
                                        <td th:text="${#dates.format(tmpDonacion.fechaDonacion, 'dd-MM-yyyy')}"></td>
                                        <!-- Autorización -->
                                        <td>[[${tmpDonacion.autorizacion}]]</td>
                                        <!-- Estado -->
                                        <td>
                                            <div th:switch="${tmpDonacion.estado}">
                                                <div th:case="true">
                                                    <div class="h5">
                                                        <span class="badge badge-pill badge-success">Aprobado</span>
                                                    </div>
                                                </div>
                                                <div th:case="false">
                                                    <div class="h5">
                                                        <span class="badge badge-pill badge-warning">Pendiente</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <!-- Acciones  -->
                                        <td>

                                            <a class="btn btn-lg btn-outline-success btn-floating"
                                                style="color: #74422B; border-color: white;" role="button"
                                                th:href="@{/donativo/donaciones/export}">

                                                <em class="fas fa-download fa-lg"></em>
                                            </a>
                                        </td>
                        </div>
                        </tr>
                        </tbody>
                        </table>
                        <!-- Listado paginacion -->
                        <nav th:if="${listaDonaciones.totalPages > 0}" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${listaDonaciones.number == 0 ? 'disabled' : ''}">
                                    <a th:href="@{/donativo/consultarTodos(page=${listaDonaciones.number - 1})}"
                                        class="page-link">Anterior</a>
                                </li>

                                <li class="page-item" th:classappend="${i eq listaDonaciones.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, listaDonaciones.totalPages, 1)}">
                                    <a class="page-link"
                                        th:href="@{/donativo/consultarTodos?page={tmpPag} (tmpPag=${i-1}) }"
                                        th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${listaDonaciones.number == (listaDonaciones.totalPages - 1) ? 'disabled' : ''}">
                                    <a th:href="@{/donativo/consultarTodos(page=${listaDonaciones.number + 1})}"
                                        class="page-link">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>

</body>

</html>