<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mi cuenta</title>
    <i-head th:replace="fragments/imports :: head" />
    <link th:href="@{/css/form.css}" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <!-- Navbar -->
        <div class="row mb-3">
            <navbar th:replace="fragments/navbar :: navbar"></navbar>
        </div>
        <!-- Contenido -->
        <div class="row">
            <!-- Menú -->
            <div class="col-md-3 mb-2">
                <div sec:authorize="hasAnyAuthority('ROL_ADOPTADOR')" th:replace="fragments/menus :: adoptador(1)">
                </div>
                <div sec:authorize="hasAnyAuthority('ROL_VOLUNTARIO')" th:replace="fragments/menus :: voluntario(3)">
                </div>
                <div sec:authorize="hasAnyAuthority('ROL_ADMINISTRADOR')" th:replace="fragments/menus :: administrador(2)">
                </div>
            </div>
            <div class="col-md-9 mb-6">
                <div class="d-grid gap-4">
                    <div>
                        <h2>Mi cuenta [[${usuario.nombre}]]</h2>
                    </div>
                    <form th:action="@{/usuario/actualizar}" method="POST" th:object="${usuario}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Información básica</h5>
                                <div class="row d-flex justify-content-between">
                                    <div class="col-lg">
                                        <div class="row">
                                            <!-- Nombre -->
                                            <div class="col-md-6 col-sm-12 mb-3">
                                                <label>Nombre(s): </label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping-nombre">
                                                        <em class="fas fa-tag"></em>
                                                    </span>
                                                    <input type="text" th:field="*{nombre}" class="form-control"
                                                        placeholder="Ej. Rosa María" aria-label="nombre"
                                                        aria-describedby="addon-wrapping-nombre" />
                                                </div>
                                            </div>
                                            <!-- Apellido -->
                                            <div class="col-md-6 col-sm-12 mb-3">
                                                <label>Apellido(s): </label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping-apellido">
                                                        <em class="fas fa-tag"></em>
                                                    </span>
                                                    <input type="text" th:field="*{apellidos}" class="form-control"
                                                        placeholder="Ej. Millán Villareal" aria-label="apellido"
                                                        aria-describedby="addon-wrapping-apellido" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Dirección -->
                                            <div class="col-md-12 col-sm-12 mb-3">
                                                <label>Dirección(s): </label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping-direccion">
                                                        <em class="fas fa-building"></em>
                                                    </span>
                                                    <input type="text" th:field="*{direccion}" class="form-control"
                                                        placeholder="Ej. Ave. México #30, Emiliano Zapata, Morelos."
                                                        aria-label="direccion"
                                                        aria-describedby="addon-wrapping-direccion" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Correo electrónico -->
                                            <div class="col-md-6 col-sm-12 mb-3">
                                                <label>Correo electrónico: </label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping-correo">
                                                        <em class="fas fa-tag"></em>
                                                    </span>
                                                    <input type="text" th:field="*{correo}" class="form-control"
                                                        placeholder="Ej. usuario@dominio.com" aria-label="correo"
                                                        aria-describedby="addon-wrapping-correo" />
                                                </div>
                                            </div>
                                            <!-- Teléfono -->
                                            <div class="col-md-6 col-sm-12 mb-3">
                                                <label>Teléfono: </label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping-telefono">
                                                        <em class="fas fa-phone"></em>
                                                    </span>
                                                    <input type="text" th:field="*{telefono}"
                                                        class="form-control phone-mask"
                                                        placeholder="Ej .(777) - 000 - 00 - 00" aria-label="telefono"
                                                        aria-describedby="addon-wrapping-telefono" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Cambiar contraseña</h5>
                                <div class="row justify-content-between">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="row">
                                            <!-- Contraseña -->
                                            <div class="col-md-6 col-sm-12 mb-3">
                                                <label>Contraseña: </label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping-contrasenia">
                                                        <em class="fas fa-lock"></em>
                                                    </span>
                                                    <input type="text" name="contrasenaOriginal" class="form-control"
                                                        aria-label="contrasenia"
                                                        aria-describedby="addon-wrapping-contrasenia" />
                                                </div>
                                            </div>
                                            <!-- Nueva contraseña -->
                                            <div class="col-md-6 col-sm-12 mb-3">
                                                <label>Nueva contraseña: </label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping-nuevaContrasena">
                                                        <em class="fas fa-lock"></em>
                                                    </span>
                                                    <input type="text" name="nuevaContrasena" class="form-control"
                                                        aria-label="nuevaContrasena"
                                                        aria-describedby="addon-wrapping-nuevaContrasena" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Repetir Contraseña -->
                                            <div class="col-md-12 col-sm-12 mb-3">
                                                <label>Repetir Contraseña(s): </label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"
                                                        id="addon-wrapping-repetirContrasena">
                                                        <em class="fas fa-lock"></em>
                                                    </span>
                                                    <input type="text" name="repetirContrasena" class="form-control"
                                                        aria-label="repetirContrasena"
                                                        aria-describedby="addon-wrapping-repetirContrasena" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 mt-3 text-center">
                                    <button type="button" class="btn btn-outline-primary btn-rounded"
                                        data-mdb-ripple-color="dark">
                                        <em class="fas fa-circle-plus me-2"></em>
                                        Guardar información
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="row mt-3">
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
    </div>
    <scripts th:replace="fragments/imports :: scripts"></scripts>
</body>

</html>