<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/imports :: head">
    <title>Lista de blogs</title>
</head>

<body>
    <div class="row mb-3">
        <navbar th:replace="fragments/navbar :: navbar"></navbar>
    </div>
    <h2 class="text-center mt-5">Lista de blogs</h2>

    <div class="row mx-4">
        <div class="col-12 col-md-3 col-sm-12 mt-4">
            <div th:replace="fragments/menus :: administrador(1)"></div>
        </div>

        <div class="col-12 col-md-9 col-sm-12">
            <div class="container">
                    <button type="button" class="btn btn-primary btn-rounded mt-4"  data-mdb-toggle="modal"
                        data-mdb-target="#nuevoBlog">Registrar Blog</button>

                <div th:replace="fragments/dialogs :: nuevoBlog"></div>
                <div class="mt-4 row">
                    <div class="col-12 col-md-4 col-sm-12 mb-4" th:each="blog, index: ${listaBlog}">

                        <div class="card">
                            <img th:src="@{/imagenes/{i} (i= ${blog.imagen})}" class="card-img-top"
                                alt="No encontrada" />
                            <div class="card-header">
                                <h5 class="card-title" th:text="${blog.titulo}"></h5>
                                <p class="card-text"
                                    th:text="'Fecha de registro : ' + ${#dates.format(blog.fechaRegistro, 'dd-MM-yyyy')}">
                                    Fecha
                                </p>
                            </div>
                            <div class="card-body">
                                <div th:text="${blog.contenido}"></div>
                            </div>

                            <div class="card-footer text-muted">
                                <div class="row justify-content-between">
                                    <a href="" style="color: #253E5C;" role="button" class="col-1"
                                        data-mdb-toggle="modal"
                                        th:attr="data-mdb-target=${'#editar-blog'+ index.count}">
                                        <em class="fas fa-pen"></em>
                                    </a>
                                    <a href="" style="color: #253E5C;" role="button" class="col-1"
                                        data-mdb-toggle="modal"
                                        th:attr="data-mdb-target=${'#detalles-blog'+ index.count}">
                                        <em class="fas fa-eye"></em>
                                    </a>
                                    <a href="" style="color: #253E5C;" role="button" class="col-1"
                                        data-mdb-toggle="modal"
                                        th:attr="data-mdb-target=${'#eliminar-blog'+ index.count}">
                                        <em class="fas fa-trash-alt"></em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div th:replace="fragments/dialogs :: detallesBlog(${index.count})"></div>
                        <div th:replace="fragments/dialogs :: editarBlog(${index.count})"></div>
                        <div th:replace="fragments/dialogs :: eliminarBlog(${index.count})"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-3">
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
    <script type="text/javascript" th:src="@{/js/md-bootstrap.min.js}"></script>
</body>

</html>