<div th:fragment="card-mascota">
    <div class="card" style="border: solid; color: #253E5C; border-width: thin;">
        <img th:src="@{/imagenes/{i} (i= ${mascota.imagen})}" class="card-img-top" height="200" alt="No encontrada" />
        <div class="card-body pb-0">
            <div class="row">
                <div class="col">
                    <h5 class="card-title" th:text="${mascota.nombre}">Card title</h5>
                </div>
                <div class="col-3 text-end">
                    <span th:text="${mascota.tipo == true} ? 'Perro' : 'Gato' " class="badge rounded-pill"
                        style="background-color: #253E5C; color: white;">mascota</span>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="border-color: #253E5C;"
                th:text="${mascota.disponibleAdopcion == true}? 'Disponible':'No disponible'">Edad
            </li>
            <li class="list-group-item" style="border-color: #253E5C;" th:text="'Edad: ' + ${mascota.edad}">Edad
            </li>
            <li class="list-group-item" style="border-color: #253E5C;"
                th:text="'Caracter: ' + ${mascota.caracter.nombre}">Caracter</li>
        </ul>

        <!--Botones del card-->
        <div class="card-body ps-3 pt-1 pb-1">
            <div class="row">
                <div class="col">
                    <form th:action="@{/mascota/actualizar/}" method="post">
                        <input type="hidden" name="idMascota" th:value="${mascota.id}" />
                        <input type="hidden" name="tipoMascota" th:value="${mascota.tipo}" />
                        <button type="submit" style="color: #74422B; border-color: white;"
                            class="btn btn-lg btn-outline-success btn-floating" data-mdb-ripple-color="dark">
                            <em class="far fa-edit fa-lg"></em>
                        </button>

                        <a class="btn btn-lg btn-outline-success btn-floating"
                            style="color: #74422B; border-color: white;" role="button" data-mdb-toggle="modal"
                            th:attr="data-mdb-target=${'#detalles'+ index.count}">
                            <em class="far fa-eye fa-lg"></em>
                        </a>
                        <a class="btn btn-lg btn-outline-success btn-floating"
                            style="color: #74422B; border-color: white;" data-mdb-toggle="modal"
                            th:attr="data-mdb-target=${'#eliminar'+ index.count}" role="button">
                            <em class="far fa-trash-alt fa-lg"></em>
                        </a>
                    </form>
                </div>
                <div class="col-3">
                    <a class="btn btn-lg btn-outline-success btn-floating" style="color: #74422B; border-color: white;"
                        href="#!" role="button">
                        <em class="far fa-heart fa-lg"></em>
                    </a>
                </div>
                <div th:replace="fragments/dialogs :: detallesMascota(${index.count})"></div>
                <div th:replace="fragments/dialogs :: eliminarMascota(${index.count})"></div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="card-filtro" class="card" style="border: solid; color: #74422B; border-width: thin;">
    <div class="card-body">
        <h5 class="card-title fw-normal">Filtros disponibles</h5>
        <form th:action="@{/mascota/filtrar}" method="post">
            <input type="hidden" name="tipoMascota" th:value="${tipo}" />
            <div class="mb-3">
                <label style="color: #B07D5D;">Sexo</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" style="background-color: #74422B; color: white;">
                        <em class="fas fa-paw"></em>
                    </span>
                    <select name="sexoMascota" class="form-select">
                        <option value="true">Hembra</option>
                        <option value="false">Macho</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label style="color: #B07D5D;">Tamaño</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" style="background-color: #74422B; color: white;">
                        <em class="fas fa-paw"></em>
                    </span>
                    <select class="form-select" name="tamanoMascota">
                        <option th:each="tmpTamanos: ${listaTamanos}" th:value="${tmpTamanos.id}"
                            th:text="${tmpTamanos.nombre}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label style="color: #B07D5D;">Color</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" style="background-color: #74422B; color: white;">
                        <em class="fas fa-palette"></em>
                    </span>
                    <select name="colorMascota" class="form-select">
                        <option th:each="tmpColor: ${listaColores}" th:value="${tmpColor.id}"
                            th:text="${tmpColor.nombre}"></option>
                    </select>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="d-grid gap-2">
                        <button type="submit" style="border-color: #74422B; color: #74422B;"
                            class="btn btn-outline-primary btn-rounded">
                            <em class="fas fa-filter me-2"></em>
                            Filtrar
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 text-center">
                    <div class="d-grid mt-2 gap-2">
                        <a th:href="@{/mascota/consultarTodas/{tipoMascota} (tipoMascota=${tipo})} "
                            class="text-muted">Borrar filtros</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>