<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <!--/* 
        Cuando esVoluntario = true, entonces mostrará la opción de aprobar, 
        en caso contrario, solo mostrará la opción de ver la mascota y cancelar la solicitud.
        */-->
        <div th:fragment="mascota(nombre, estado, fechaSolicitud, urlImg, esVoluntario)" class="col-md-6 card mb-3">
            <div class="row g-0">
                <div class="fixed-container col-md-4">
                    <amp-img th:src="${urlImg}" layout="fill"></amp-img>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6>Mascota: [[${nombre}]]</h6>
                        <hr />
                        <h6>Estado: [[${estado} ? 'Aprobado' : 'Rechazado']]</h6>
                        <hr />
                        <h6>Fecha de solicitud: [[${fechaSolicitud}]]</h6>
                        <hr />
                        <div align="right">
                            <a th:if="${esVoluntario}" href="#!" role="button">
                                <i class="fas fa-check"></i>
                            </a>
                            <a href="#!" role="button">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="#!" role="button">
                                <i class="far fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>