<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="mascota" class="col-md-12 card mb-3">
      <div class="row g-0">
        <div class="container col-md-4">
          <img
            th:src="@{/imagenes/{i} (i= ${solicitud.mascota.imagen})}"
            style="height: 100%; width: 100%"
            alt="No encontrada"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6>
              Mascota: <strong th:text="${solicitud.mascota.nombre}"></strong>
            </h6>
            <hr />
            <h6>
              <div class="row">
                <div class="col-9" th:switch="${solicitud.aprobado}">
                  <div th:case="'Aprobado'">
                    Estado:
                    <span class="badge badge-pill badge-success">Aprobado</span>
                  </div>
                  <div th:case="'Pendiente'">
                    Estado:
                    <span class="badge badge-pill badge-warning"
                      >Pendiente</span
                    >
                  </div>
                  <div th:case="'Rechazado'">
                    Estado:
                    <span class="badge badge-pill badge-danger">Rechazado</span>
                  </div>
                </div>
              </div>
            </h6>
            <hr />
            <h6>
              Fecha de solicitud:
              <strong
                th:text="${#dates.format(solicitud.fechaSolicitud, 'dd-MM-yyyy')}"
              ></strong>
            </h6>
            <hr />
            <div style="text-align: right">
              <a
                class="mx-1 tooltop"
                th:href="@{/solicitud/voluntario/rechazarSolicitud/{id} (id = ${solicitud.id})}"
                style="color: #74422b"
                role="button"
                sec:authorize="hasAnyAuthority('ROL_VOLUNTARIO')"
              >
                <em class="fas fa-times fa-lg"
                  ><h6 class="tooltiptext">Rechazar</h6></em
                >
              </a>
              <a
                class="mx-1 tooltop"
                style="color: #74422b"
                th:href="@{/solicitud/voluntario/aprobarSolicitud/{id} (id = ${solicitud.id})}"
                role="button"
                sec:authorize="hasAnyAuthority('ROL_VOLUNTARIO')"
              >
                <em class="fas fa-check fa-lg"
                  ><h6 class="tooltiptext">Aprobar</h6></em
                >
              </a>
              <a
                class="mx-1 tooltop"
                style="color: #74422b"
                th:href="@{/solicitud/adoptador/eliminarSolicitud/{id} (id = ${solicitud.id})}"
                sec:authorize="hasAnyAuthority('ROL_ADOPTADOR')"
                role="button"
              >
                <em class="fas fa-times fa-lg"
                  ><h6 class="tooltiptext">Cancelar</h6></em
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
