<div th:fragment="adoptador(activo)" class="menu list-group shadow-3">
    <a href="#" class="list-group-item list-group-item-action disabled">
        <strong>Menú adoptador</strong>
    </a>
    <a href="#" class="list-group-item list-group-item-action" th:classappend="${activo} == 1 ? 'active' : ''"
        aria-current="true">
        <em class="fas fa-plus-circle"></em>
        Mi cuenta
    </a>
    <a href="#" class="list-group-item list-group-item-action" th:classappend="${activo} == 2 ? 'active' : ''"
        aria-current="true">
        <em class="fas fa-wallet"></em>
        Mis donaciones
    </a>
    <a href="#" class="list-group-item list-group-item-action" th:classappend="${activo} == 3 ? 'active' : ''"
        aria-current="true">
        <em class="fas fa-envelope"></em>
        Mis solicitudes de adopción
    </a>
    <form class="formMenu" th:action="@{/mascota/favoritos}" method="post">
        <input type="hidden" th:value="${session.usuario.id}" name="idUsuario" />
        <button type="submit" class="list-group-item list-group-item-action" th:classappend="${activo} == 4 ? 'active' : ''"
            aria-current="true">
            <em class="fas fa-heart"></em>
            Mi lista de favoritos
        </button>
    </form>
</div>

<div th:fragment="administrador(activo)" class="menu list-group shadow-3">
    <a href="#" class="list-group-item list-group-item-action disabled">
        <strong>Menú administrador</strong>
    </a>
    <a href="#" class="list-group-item list-group-item-action" th:classappend="${activo} == 1 ? 'active' : ''"
        aria-current="true">
        <em class="fas fa-plus-circle"></em>
        Añadir mascota
    </a>
    <a href="#" class="list-group-item list-group-item-action active" th:classappend="${activo} == 2 ? 'active' : ''"
        aria-current="true">
        <em class="fas fa-envelope"></em>
        Ver solicitudes de adopción
    </a>
</div>