<div class="list-group shadow-3" th:fragment="admin">
    <a href="#" class="list-group-item list-group-item-action disabled"
        style="border-color: #74422B; color: #74422B;"><strong>Menú administrador</strong></a>
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true"
        style="background-color: #D5B095; border-color: #74422B;">
        <i class="fas fa-plus-circle"></i>
        Añadir Mascota
    </a>
    <a href="#" class="list-group-item list-group-item-action"
        style="border-color: #74422B; color: #74422B;"><i class="fas fa-envelope"></i> Ver solicitudes
        de
        adopción</a>
</div>