
em {
    color: white;
}

h2 {
    color: #253e5c;
}

.boton {
    width: 40%;
    background-color: #253e5c;
}

.bg-span {
    background-color: #253e5c;
}

.radius {
    border-radius: 30px;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
}

.mask {
    background-color: rgba(126, 96, 77, 0.808);
}