.navbar {
    background-color: #253e5c;
    position: relative;
    left: 0%;
    top: 0%;
    margin: 0px; 
    padding: 10px;
    border-bottom: none;
    width: 100%;
}

.boton {
    color: #ffffff;
    border-color: white;
    border-radius: 30px;
}

.itm-navbar-login {
    color: #253e5c;
}
