<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Mascotas</title>
    <i-head th:replace="fragments/imports :: head" />
</head>

<body>
    <div class="container-fluid">
        <!-- Navbar -->
        <div class="row mb-3">
            <navbar th:replace="fragments/navbar :: navbar"></navbar>
        </div>
        <!-- Contenido -->
        <div id="carouselExampleTouch" class="carousel slide" data-mdb-touch="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100"
                        alt="Wild Landscape" />
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-white text-center">
                                <h1 class="mb-3">Explora nuestra sección de noticias</h1>
                                <a class="btn btn-outline-light btn-rounded btn-lg m-2" href="" role="button"
                                    rel="nofollow" target="_blank">Ver noticias</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" th:replace="fragments/carousel :: item" th:each="blog: ${noticias}"></div>
            </div>
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleTouch"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleTouch"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div sec:authorize="hasAnyAuthority('ROL_VOLUNTARIO', 'ROL_ADOPTADOR')">
            <hr class="my-5" />
            <div class="row">
                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80"
                            class="img-fluid" alt="mascotas" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 gx-5 mb-1">
                    <h1 style="color: #253E5C;"><strong>¿Quieres donar?</strong></h1>
                    <p class="text-muted">
                        Con tu apoyo seguiremos aportando sonrisas a más hogares y continuando con nuestra labor de
                        darle un lugar a cada animalito
                    </p>
                    <p><strong>¡Contribuye ahora!</strong></p>
                    <form>
                        <div class="row mb-4">
                            <div class="col-12 col-sm-12 col-md-7 mb-3">
                                <div class="form-outline">
                                    <input type="number" id="cantidad" placeholder="Ej. 5.99" class="form-control" />
                                    <label class="form-label" for="form3Example1">Cantidad a donar</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md">
                                <button type="submit" style="background-color: #253E5C;"
                                    class="btn btn-primary btn-block mb-4 btn-rounded">
                                    Donar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mb-6">
            <hr class="my-5" />
            <h4 class="mb-5 text-center" style="color: #253E5C;"><strong>Agregados recientemente</strong></h4>
            <div class="row  justify-content-center">
                <!-- for each de cards limitar a 3-->
                <div class="col-lg-3 mb-4" th:each="mascota,index: ${recientes}">
                    <div th:replace="fragments/cardsMascota :: card-recientes"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="row mt-3">
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
    </div>
    <!-- MDB -->
    <script th:src="@{/js/md-bootstrap.min.js}"></script>
</body>

</html>