<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Inicio de sesión</title>
    <i-head th:replace="fragments/imports :: head" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <style>
      #intro {
        background-image: url([[@{/images/fondoLogo.webp}]]);
        height: 110vh;
      }
    </style>
  </head>
  <body>
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-sl-6">
              <form
                th:action="@{/login}"
                class="bg-white radius shadow-5-strong p-5"
                method="post"
              >
                <div class="text-center" th:if="${param.error}">
                  <span class="badge badge-danger">
                    Error:
                    Correo o contraseña incorrectos, favor de volver a intentar
                    iniciar sesión</span
                  >
                </div>
                <div class="row mb-4">
                  <div class="col mt-3 text-center">
                    <h2>Inicio de sesión</h2>
                  </div>
                </div>

                <!-- Email input -->
                <div class="input-group mb-3">
                  <span
                    class="input-group-text bg-span"
                    id="basic-addon-correo"
                  >
                    <em class="fas fa-envelope"></em>
                  </span>
                  <input
                    type="email"
                    name="correo"
                    class="form-control"
                    placeholder="Correo electrónico"
                    aria-label="Correo"
                    aria-describedby="basic-addon-correo"
                  />
                </div>

                <!-- Password input -->
                <div class="input-group mb-3">
                  <span
                    class="input-group-text bg-span"
                    id="basic-addon-contrasena"
                  >
                    <em class="fas fa-lock"></em>
                  </span>
                  <input
                    type="password"
                    name="contrasena"
                    class="form-control"
                    placeholder="Contraseña"
                    aria-label="Contrasena"
                    aria-describedby="basic-addon-contrasena"
                  />
                </div>

                <!-- Submit button -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <button
                      type="submit"
                      class="btn boton radius btn-primary btn-block"
                    >
                      <em class="fas fa-sign-in-alt"></em> Ingresar
                    </button>
                  </div>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row text-center mb-3">
                  <div class="col">
                    <p class="col-12 mb-1">¿Has olvidado la contraseña?</p>
                    <!-- Simple link -->
                    <a th:href="@{/reset/password}"><u>Restablecer contraseña</u></a>
                  </div>
                  <div class="col">
                    <p class="col-12 mb-1">¿Aún no cuentas con usuario?</p>
                    <!-- Simple link -->
                    <a th:href="@{/signup}"><u>Registrate ahora</u></a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
    <scripts th:replace="fragments/imports :: scripts"></scripts>
  </body>
</html>
