<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cambio de Contraseña</title>
    <i-head th:replace="fragments/imports :: head" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <style>
        #intro {
            background-image: url([[@{/images/fondoLogo.webp}]]);
            height: 110vh;
        }
    </style>
</head>

<body>
    <style>
        i {
            color: white;
        }

        .boton {
            width: 50%;
            background-color: #253e5c;
        }

        .bg-span {
            background-color: #253e5c;
        }

        .radius {
            border-radius: 30px;
        }

        .subtitle {
            color: #698FAE;
            size: 24px;
        }

        .btn-outlined {
            color: #698FAE;
            border: 1px solid #253E5C;
            box-shadow: none;
        }
    </style>
    <!-- background image -->
    <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-sl-6">
                        <!-- formulario -->
                        <form th:action=@{/reset/password/email} method="post"
                            class="bg-white radius shadow-5-strong p-5">
                            <div class="row mb-4">
                                <div class="col text-center">
                                    <h2>¿Problemas para acceder?</h2>
                                </div>
                                <hr>
                                <p class="subtitle">Para recuperar el acceso a tu <strong>cuenta</strong> ingresa el
                                    correo
                                    electrónico con el
                                    que te registraste. Enseguida recibirás un mensaje, por favor revisa tu bandeja de
                                    entrada y
                                    carpeta de <strong>Spam</strong> o <strong>Categorías > Notificaciones</strong>.
                                </p>

                            </div>
                            <div class="form-group col">
                                <!-- input contraseña -->
                                <div class="input-group mb-2 mr-sm-2">
                                    <span class="input-group-text bg-span" id="basic-addon-correo"><em
                                            class="fas fa-envelope"></em></span>
                                    <input type="email" name="correo" class="form-control"
                                        placeholder="Correo electrónico" max="100" aria-label="Correo"
                                        aria-describedby="basic-addon-correo">
                                </div>
                            </div>
                            <!-- boton submit -->
                            <div class="form-group col mt-4">
                                <div class="col d-flex justify-content-center">
                                    <button id="registrar" type="submit" class="btn boton radius btn-primary btn-block">
                                        <em class="fas fa-sign-in-alt"></em>&nbsp&nbspSolicitar nueva contraseña
                                    </button>
                                </div>

                            </div>

                            <!-- 2 column grid layout for inline styling -->
                            <div class="row text-center mb-3 mt-4">
                                <div class="col">
                                    <p class="col-12 mb-1">¿Ya cuentas con un usuario?</p>
                                    <!-- Simple link -->
                                    <a href="/login"><u>Iniciar sesion</u></a>
                                </div>
                                <div class="col">
                                    <p class="col-12 mb-1">¿Aún no cuentas con usuario?</p>
                                    <!-- Simple link -->
                                    <a th:href="@{/signup}"><u>Registrate ahora</u></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <scripts th:replace="fragments/imports :: scripts"></scripts>
</body>

</html>