<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Solicitud de adoptador</title>
    <i-head th:replace="fragments/imports :: head" />
    <link th:href="@{/css/card.css}" rel="stylesheet" />
    <link th:href="@{/css/solicitud.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Navbar -->
      <div class="row mb-3">
        <navbar th:replace="fragments/navbar :: navbar"></navbar>
      </div>
      <!-- Contenido -->
      <div class="row">
        <!-- Menú -->
        <div class="col-md-3 mb-2">
          <div th:replace="fragments/menus :: adoptador(3)"></div>
        </div>
        <div class="col-md-9 mb-2">
          <div class="d-grid gap-4">
            <div>
              <h2 style="color: #253e5c">Solicitudes de adopción</h2>
              <p class="h4 fw-light" style="color: #698fae">
                Listado de solicitudes para adoptar una mascota
              </p>
            </div>

            <!--Cards contenedores de la info de las mascotas-->
            <div class="row">
              <div
                class="col-12 col-md-6 col-sm-12 mb-4"
                th:each="solicitud: ${listaSolicitud}"
              >
                <div th:replace="fragments/card :: mascota"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="row mt-3">
        <footer th:replace="fragments/footer :: footer"></footer>
      </div>
    </div>
    <scripts th:replace="fragments/imports :: scripts"></scripts>
  </body>
</html>
